
.sidebar-nav {
    background-color: black;

}

.table-content tr {
    height: 100vh;
    margin-top: 0;
}

.sec-col{
    list-style-type: none !important;
}

.sec-col-item {
    font-weight: 500;
    font-size: 16px;
    width: 190px;
    border: none !important;

}

.fg-color-red {
    color: red;
}

.fg-weight-500 {
    font-weight: 500;
}

.wd-float-done {
    clear: both;
}

.wd-float-right{
    float: right;
}

.row-content{
    text-align: center;
}

.mg-top-20{
    margin-top: 20px;
}
