.sidebar-nav {
    background-color: black;

}

.table-content tr {
    height: 100vh;
    margin-top: 0;
}

.sec-col {
    list-style-type: none !important;
}

.sec-col-item {
    font-weight: 500;
    font-size: 16px;
    width: 190px;
    border: none !important;

}

.fg-color-red {
    color: red;
}

.fg-weight-500 {
    font-weight: 500;
}

.wd-float-done {
    clear: both;
}

.wd-float-right {
    float: right;
}

.row-content {
    text-align: center;
}

.mg-top-20 {
    margin-top: 20px;
}

.course-card-bg {
    height: 170px;
}

.course-card {
    width: 255px;
    margin: 30px;
}

.list-group.list-group-root.list-group {
    margin-bottom: 0;
}

.list-group.list-group-root>.list-group>.list-group>.list-group-item {
    padding-left: 70px;
}

select {
    font-family: 'FontAwesome', 'arial';
}

.no-underline {
    text-decoration: none;
}

.inline {
    display: inline;
}

.block {
    display: block;
}

@media only screen and (max-width: 1200px) {
    .hide-1200 {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    .hide-800 {
        display: none;
    }
}

@media only screen and (min-width: 800px) {
    .show-800 {
        display: none;
    }
}

.top-nav-bar {
    background-color: black;
    height: 60px;

}